In [ ]:
import pandas as pd

# New Section

In [ ]:
import numpy as np

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns

In [ ]:
df = pd.read_csv(r'https://github.com/YBI-Foundation/Dataset/raw/main/Ice%20Cream.csv')

In [ ]:
df.head()

   Temperature  Revenue
0         24.6      535
1         26.1      626
2         27.8      661
3         20.6      488
4         11.6      317

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Temperature  500 non-null    float64
 1   Revenue      500 non-null    int64
dtypes: float64(1), int64(1)
memory usage: 7.9 KB

In [ ]:
df.columns

Index(['Temperature', 'Revenue'], dtype='object')

In [ ]:
df.corr()

             Temperature   Revenue
Temperature     1.000000  0.989841
Revenue         0.989841  1.000000

In [ ]:
X=df[['Temperature']]

In [ ]:
y=df['Revenue']

In [ ]:
X.shape

(500, 1)

In [ ]:
y.shape

(500,)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.7,)

In [ ]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((150, 1), (350, 1), (150,), (350,))

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train,y_train)

LinearRegression()

In [ ]:
lr.intercept_

38.36876556588811

In [ ]:
lr.coef_

array([21.76476657])

In [ ]:
from google.colab import drive
drive.mount('/content/drive')